// !About
.section {
  &__about {
    background: linear-gradient(90deg, #FB999F 0%, rgba(255, 191, 74, 0.46) 100%);
    padding: 42px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 59px;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 27px;
    text-transform: uppercase;
  }
}

.about {
  display: flex;
  align-items: end;
  gap: 60px;

  &__img {
    max-width: 337px;
    height: auto;
  }

  &__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 120px;
  }

  &__content-link {
    font-size: 32px;
  }
}
